.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
}
.container h2 {
  font-size: 28px;
  font-weight: 100;
}
.userContainer {
  display: flex;
  justify-content: space-between;
}
.userBody {
  display: flex;
  align-items: center;
  gap: 20px;
}
.userBody span {
  font-size: 14px;
}
.userImage {
  border-radius: 50%;
}
@media (max-width: 482px) {
  .container h2 {
    font-size: 16px;
  }
  .userContainer {
    justify-content: unset;
    gap: 10px;
  }
}
