.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
}
.formContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bgSoft);
  border-radius: 10px;
}

.gitForm {
  width: 100%;
}
.gitForm button {
  background-color: var(--btn);
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  border: none;
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
