.container {
  display: flex;
  gap: 30px;
  flex: 1;
  align-items: center;
  height: 100%;
}
.logoutBtn {
  height: 40px;
  width: 100px;
  padding: 10px;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
