.container {
  display: grid;
  width: 100%;
  /* align-items: flex-start;
  justify-content: flex-start; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 12px;
  column-gap: 10px;
  row-gap: 50px;
}
