.btnContainer {
  width: 100px;
  height: 50px;
  text-align: center;
  padding: 15px;
}
.active {
  background-color: white;
  color: black;
  width: 100px;
  height: 30px;
  transition: background-color linear 0.4s;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
}
.linkButton {
  color: inherit;
}
